.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        min-width: 300px;
        padding: 40px;
        background-color: white;
        border-radius: 20px;
        border: 2px solid #AFAFB4;
        border-bottom-width: 4px;
        font-family: dinroundpro_bold;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #3C3C3C;
        user-select: none;

        img {
            width: 100px;
        }

        .letsGo {
            background-color: #58CC02;
            padding: 10px 20px;
            user-select: none;
            cursor: pointer;
            border-radius: 10px;
            border-bottom: 4px solid #61B800;
            color: white;

            &:active {
                border-bottom-width: 2px;
                margin-top: 2px;
            }

            &:hover {
                background-color: #61E002;
            }   
        }
    }
}