.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 988px;
        display: flex;
        flex-direction: column;

        .element {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;

            .left {
                width: fit-content;

                .p1 {
                    color: #58cc02;
                    font-family: dinroundpro_bold;
                    font-size: 48px;
                }

                .p2 {
                    width: 460px;
                    margin-top: 20px;
                    color: rgb(119, 119, 119);
                    font-family: dinroundpro_light;
                    font-size: 18px;
                }
            }

            .right {
                width: 400px;
                height: 450px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .element {
            flex-direction: column-reverse !important;
            margin-top: 10px;

            .left {
                display: flex;
                flex-direction: column;
                align-items: center;

                .p1 {
                    text-align: center;
                    width: 450px;
                }

                .p2 {
                    text-align: center;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .right {
            width: 360px !important;
            height: 360px !important;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;

            .p1 {
                font-size: 36px !important;
                width: 300px;
            }

            .p2 {
                text-align: center;
                font-size: 17px !important;
                width: 360px;
            }
        }
    }

    @media screen and (max-width: 460px) {
        .container {
            .left {
                .p1 {
                    width: 300px !important;
                }

                .p2 {
                    width: 360px !important;
                }
            }
        }
    }
}
